.news-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__container {
    //
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__label {
    @include fluid-text(18, 16);
    font-weight: 500;
  }

  &__editor {
    z-index: 1;
  }

  &__submit {
    align-self: flex-end;
    max-width: 280px;

    @include mobile-s {
      max-width: 100%;
      width: 100%;
    }
  }
}

.ck-editor__editable {
  color: var(--color-gray);
}
