.resident {
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 216px;
    padding: 15px;
    box-shadow: var(--shadow);
    background-color: var(--background-header-primary);
    border-radius: var(--border-radius);
    border: var(--border);
    row-gap: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;

    @include hover {
      transform: scale(1.05);
    }

    &__title {
      text-align: center;
      font-size: 23px;
      color: var(--menu-text-color);
    }

    &__logo {
      width: 100px;
      height: 100px;
      padding: 10px;
      border-radius: 50%;
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center; /* Центрирует изображение внутри контейнера */
    }
  }

  &__image {
    width: 80%;
    // border-radius: 50%;
    object-fit: contain; /* Изображение заполняет всю доступную область, сохраняя соотношение сторон */
    object-position: center; /* Изображение центрируется */
  }
}
