.resident-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 216px;
  padding: 15px;
  box-shadow: var(--shadow);
  background-color: var(--background-header-primary);
  border-radius: var(--border-radius);
  border: var(--border);
  row-gap: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;

  @include hover {
    transform: scale(1.05);
  }

  &__title {
    text-align: center;
    font-size: 23px;
    color: var(--menu-text-color);
  }

  &__image {
    @include square(100px);
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 50%;
  }
}
