.vacancy {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: var(--shadow);
    background-color: var(--background-header-primary);
    padding: 25px;
    border-radius: var(--border-radius);
    color: var(--menu-text-color);

    &__header {
      width: 100%;
      display: flex;
      column-gap: 10px;
      justify-content: space-between;

      & .read-more {
        display: flex;
        align-items: flex-start;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        color: var(--color-accent);
      }

      & p {
        font-size: 20px;
      }

      & .header {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      & .header-image {
        width: 50px;
        aspect-ratio: 1;
        border-radius: var(--border-radius);

        &_logo {
          background-size: cover;
          background-position: center;
          border-radius: 5px;
        }
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      &-job {
        font-size: 24px;
      }

      &-desc {
        font-size: 18px;
      }

      &-price {
        color: var(--color-accent);
        font-size: 20px;
        font-weight: bold;
      }
    }

    &__footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .views {
        display: flex;
        align-items: center;
        column-gap: 5px;

        #eye-icon {
          font-size: 20px;
        }
      }
    }
  }
}

.vacancy-details {
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: var(--menu-text-color);

  .vacancy-card__header p {
    font-weight: 600;
  }

  .vacancy__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &-title {
      & h3 {
        margin: 0;
      }
    }

    &-details {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;

      & .detail-item {
        @include mobile {
          width: 100%;
        }

        display: flex;
        min-width: 150px;
        flex-direction: column;
        padding: 10px 15px;
        background-color: var(--background-header-primary);
        row-gap: 10px;
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
        align-items: baseline;

        p {
          margin: 0;
        }

        & :first-child {
          color: var(--color-accent);
          font-weight: 600;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      h5 {
        margin: 0;
        color: var(--color-accent);
      }
    }
  }
}
