body {
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-gray);
  background-color: var(--background-primary);
}

a,
button,
input,
text,
svg * {
  transition-duration: var(--transition-duration);
}

input {
  border: var(--border);
}

a {
  @include reset-link;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  @include fluid-text(50, 45);
}

h2 {
  @include fluid-text(40, 30);
}

h3 {
  @include fluid-text(35, 30);
}

h4 {
  @include fluid-text(30, 26);
}

h5 {
  @include fluid-text(23, 21);
}

p {
  @include fluid-text(18, 16);
}
