.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  // padding-inline: var(--container-padding-x);
}

.layout {
  max-width: calc(var(--layout-width) + var(--layout-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--layout-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.visible-desktop {
  @include desktop-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.skeleton {
  background-color: var(--background-header-primary);
  border-radius: 5px;
  animation: pulse 1.5s infinite ease-in-out;
  box-shadow: var(--shadow);
}

@keyframes pulse {
  0% {
    background-color: var(--skeleton-background);
  }
  50% {
    background-color: var(--skeleton-background);
  }
  100% {
    background-color: var(--skeleton-background);
  }
}

.cursor-pointer {
  cursor: pointer;
}
