:root {
  --color-light: #f9f9f9;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-accent: #e02d2d;
  --color-accent-h: rgba(22, 22, 22, 0.422);
  --color-gray: #363636;
  --color-dark-gray: #1a1a1a;
  --color-light-gray: #282828;
  --color-pink: #f8d7da;
  // --menu-dark-default-color: #b4b4b4;
  --menu-dark-default-color: #ececec;
  --menu-light-default-color: #0c0404;
  --burger-dark-color: var(--color-light);
  --burger-light-color: var(--color-dark-gray);

  --border: none;
  --border-radius: 10px;
  --border-radius-small: 5px;

  // --shadow: 0px 0px 10px -4px var(--color-gray);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;

  --font-family-base: "Montserrat", sans-serif;

  --layout-width: 1470px;
  --layout-padding-x: 20px;

  --container-width: 1197px;
  --container-padding-x: 10px;

  --menu-width: 240px;
  --menu-padding-x: 240px;

  --section-padding-y: 50px;

  --input-height: 45px;
  --button-height: 44px;

  --transition-duration: 0.2s;

  // light theme tokens
  --background-primary-light: var(--color-white);
  --accent-light: var(--color-accent);
  --color-gray-light: 54, 54, 54;
  --background-header-primary-light: var(--color-white);
  --footer-light-color: var(--color-gray);
  // dark theme tokens
  --background-primary-dark: var(--color-dark-gray);
  --accent-dark: var(--color-accent);
  --color-gray-dark: 255, 255, 255;
  --background-header-primary-dark: var(--color-light-gray);
  --footer-dark-color: var(--color-light-gray);
}

$header-height-desktop: 72px;
$header-height-tablet: 68px;

// map tokens to proper theme
[data-theme="light"] {
  --background-primary: var(--background-primary-light);
  --accent: var(--accent-light);
  --background-header-primary: var(--background-header-primary-light);
  --menu-text-color: var(--color-gray);
  --burger-color: var(--burger-light-color);
  --color-accent-hover: var(--color-accent-h);
  --footer-background: var(--footer-light-color);
  --skeleton-background: var(--menu-dark-default-color);
  --error-notification-color: var(--color-pink);
  --error-notification-text-color: #721c24;
}

[data-theme="dark"] {
  --background-primary: var(--background-primary-dark);
  --accent: var(--accent-dark);
  --background-header-primary: var(--background-header-primary-dark);
  --menu-text-color: var(--menu-dark-default-color);
  --burger-color: var(--burger-dark-color);
  --color-accent-hover: #2f2f2f;
  --footer-background: var(--footer-dark-color);
  --skeleton-background: var(--background-header-primary-dark);
  --error-notification-color: var(--color-light-gray);
  --error-notification-text-color: var(--color-accent);
}
