// Content.module.scss

@import "../../styles/styles.scss";

.main {
  padding-top: calc(24px + $header-height-desktop);
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  @include tablet {
    padding: 10px;
    padding-top: calc(24px + $header-height-tablet);
  }
}

.menu {
  min-width: 240px;

  &__list {
    position: sticky;
    top: 96px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 12px;

    input {
      width: 80%;
    }

    .tablet-button {
      width: 80%;
      order: 1;
      font-weight: 500;
    }

    @include tablet {
      position: initial;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
    }

    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-inline: 0;
      border-radius: var(--border-radius);

      @include tablet {
        width: 80%;
        box-shadow: var(--shadow);
      }
    }

    &-link {
      width: 100%;
      display: inline-flex;
      align-items: flex-start;
      column-gap: 12px;
      padding-inline: 15px;
      font-weight: 500;
      transition: background-color 0.3s ease, color 0.3s ease;

      @include tablet {
        justify-content: center;
      }

      @include hover {
        background-color: var(--color-accent-hover) !important;
      }

      &.active {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }

    &-item-icon {
      font-size: 20px;
    }
  }

  @include tablet {
    display: none;
  }
}

.content {
  min-width: 75%;
  width: 100%;
}
