@import "../../styles/styles.scss";

.main {
  padding-top: calc(24px + $header-height-desktop);
  display: flex;
  justify-content: space-between;
  column-gap: 20px;

  @include tablet {
    padding: 10px;
    padding-top: calc(24px + $header-height-tablet);
  }
}

.menu {
  min-width: 240px;
  &__list {
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 12px;

    input {
      width: 80%;
    }

    .tablet-button {
      width: 80%;
      order: 1;
      font-weight: 500;
    }

    @include tablet {
      position: initial;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80vh;
    }

    &-item {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-inline: 0;

      @include tablet {
        width: 80%;
        box-shadow: var(--shadow);
      }
    }

    &-link {
      width: 100%;
      display: inline-flex;
      align-items: flex-start;
      column-gap: 12px;
      padding-inline: 15px;
      font-weight: 500;

      @include tablet {
        justify-content: center;
      }
    }

    &-item-icon {
      display: inline-flex;
      align-items: center;
      font-size: 20px;
    }
  }

  @include tablet {
    display: none;
  }
}

.content {
  min-width: 75%;
}
