@import "../../styles/styles.scss";

.header {
  position: fixed;
  padding-block: 14px;
  background-color: var(--background-header-primary);
  box-shadow: var(--shadow);
  width: 100%;
  z-index: 2;

  @include tablet {
    padding-block: 10px;
  }

  &__logo img {
    @include tablet {
      max-width: 120px;
      height: auto;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    @include tablet {
      padding-inline: 10px;
    }
  }

  &__buttons {
    font-size: 18px;
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include tablet {
      column-gap: 10px;
      font-size: 16px;
    }
  }
}
